In [1]:
# Dependencies and Setup
import csv
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import random
import json

In [4]:
file1_pd = pd.read_csv("JC-201601-citibike-tripdata.csv")
file1_pd.head()

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
0,362,2016-01-01 00:02:52,2016-01-01 00:08:54,3186,Grove St PATH,40.719586,-74.043117,3209,Brunswick St,40.724176,-74.050656,24647,Subscriber,1964.0,2
1,200,2016-01-01 00:18:22,2016-01-01 00:21:42,3186,Grove St PATH,40.719586,-74.043117,3213,Van Vorst Park,40.718489,-74.047727,24605,Subscriber,1962.0,1
2,202,2016-01-01 00:18:25,2016-01-01 00:21:47,3186,Grove St PATH,40.719586,-74.043117,3213,Van Vorst Park,40.718489,-74.047727,24689,Subscriber,1962.0,2
3,248,2016-01-01 00:23:13,2016-01-01 00:27:21,3209,Brunswick St,40.724176,-74.050656,3203,Hamilton Park,40.727596,-74.044247,24693,Subscriber,1984.0,1
4,903,2016-01-01 01:03:20,2016-01-01 01:18:24,3195,Sip Ave,40.730743,-74.063784,3210,Pershing Field,40.742677,-74.051789,24573,Customer,NaN,0

In [6]:
file2_pd = pd.read_csv("JC-201602-citibike-tripdata.csv") 
file3_pd = pd.read_csv("JC-201603-citibike-tripdata.csv") 
file2_pd = pd.read_csv("JC-201602-citibike-tripdata.csv")
file2_pd = pd.read_csv("JC-201602-citibike-tripdata.csv")
file2_pd = pd.read_csv("JC-201602-citibike-tripdata.csv")
file2_pd = pd.read_csv("JC-201602-citibike-tripdata.csv")
file2_pd = pd.read_csv("JC-201602-citibike-tripdata.csv")
file2_pd = pd.read_csv("JC-201602-citibike-tripdata.csv")
file2_pd = pd.read_csv("JC-201602-citibike-tripdata.csv")
file2_pd = pd.read_csv("JC-201602-citibike-tripdata.csv")
file2_pd = pd.read_csv("JC-201602-citibike-tripdata.csv")
file2_pd = pd.read_csv("JC-201602-citibike-tripdata.csv")
file2_pd = pd.read_csv("JC-201602-citibike-tripdata.csv")
file2_pd = pd.read_csv("JC-201602-citibike-tripdata.csv")